<a href="https://colab.research.google.com/github/khairulniza/MANB2153/blob/master/Hourly_Wage_Prediction_using_Deep_Learning(Regression_Model).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#mount my gd to colab
from google.colab import drive
drive.mount('/content/gdrive')

In [35]:
#read data from gd using pandas
import pandas as pd
df=pd.read_csv('gdrive/My Drive/Data Set/Income_training.csv')
df.head(5)

   compositeHourlyWages  age  yearsEducation  sex1M0F
0                 21.38   58              10        1
1                 25.15   42              16        1
2                  8.57   31              12        0
3                 12.07   43              13        0
4                 10.97   46              12        0

In [8]:
#drop compositeHourlyWages as target attribute
train_X = df.drop(columns=['compositeHourlyWages'])
train_X.head()

   age  yearsEducation  sex1M0F
0   58              10        1
1   42              16        1
2   31              12        0
3   43              13        0
4   46              12        0

In [10]:
# check the target attribute
train_y = df[['compositeHourlyWages']]
train_y.head()

   compositeHourlyWages
0                 21.38
1                 25.15
2                  8.57
3                 12.07
4                 10.97

In [0]:
from keras.models import Sequential
from keras.layers import Dense
#create model
model = Sequential()

#get number of columns in training data
n_cols = train_X.shape[1]

#add model layers
model.add(Dense(100, activation='relu', input_shape=(n_cols,)))
model.add(Dense(100, activation='relu'))
model.add(Dense(1))

In [0]:
#compile model using mse as a measure of model performance
model.compile(optimizer='adam', loss='mean_squared_error')

In [41]:
from keras.callbacks import EarlyStopping
#set early stopping monitor so the model stops training when it won't improve anymore
early_stopping_monitor = EarlyStopping(patience=3)
#train model
model.fit(train_X, train_y, epochs=30)

Epoch 1/30
3197/3197 [==============================] - 1s 178us/step - loss: 54.7583
Epoch 2/30
3197/3197 [==============================] - 0s 41us/step - loss: 44.3192
Epoch 3/30
3197/3197 [==============================] - 0s 40us/step - loss: 43.1194
Epoch 4/30
3197/3197 [==============================] - 0s 39us/step - loss: 43.3166
Epoch 5/30
3197/3197 [==============================] - 0s 40us/step - loss: 41.4200
Epoch 6/30
3197/3197 [==============================] - 0s 40us/step - loss: 41.1119
Epoch 7/30
3197/3197 [==============================] - 0s 40us/step - loss: 41.1737
Epoch 8/30
3197/3197 [==============================] - 0s 42us/step - loss: 40.7999
Epoch 9/30
3197/3197 [==============================] - 0s 41us/step - loss: 41.3903
Epoch 10/30
3197/3197 [==============================] - 0s 40us/step - loss: 40.1701
Epoch 11/30
3197/3197 [==============================] - 0s 41us/step - loss: 40.9395
Epoch 12/30
3197/3197 [==============================] - 0s 41us/step - loss: 40.3613
Epoch 13/30
3197/3197 [==============================] - 0s 39us/step - loss: 40.7126
Epoch 14/30
3197/3197 [==============================] - 0s 40us/step - loss: 40.0366
Epoch 15/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.9625
Epoch 16/30
3197/3197 [==============================] - 0s 40us/step - loss: 40.0859
Epoch 17/30
3197/3197 [==============================] - 0s 40us/step - loss: 39.8955
Epoch 18/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.7278
Epoch 19/30
3197/3197 [==============================] - 0s 40us/step - loss: 39.4779
Epoch 20/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.7517
Epoch 21/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.2273
Epoch 22/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.6084
Epoch 23/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.1675
Epoch 24/30
3197/3197 [==============================] - 0s 43us/step - loss: 39.5573
Epoch 25/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.3579
Epoch 26/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.1663
Epoch 27/30
3197/3197 [==============================] - 0s 41us/step - loss: 39.2494
Epoch 28/30
3197/3197 [==============================] - 0s 40us/step - loss: 39.5993
Epoch 29/30
3197/3197 [==============================] - 0s 42us/step - loss: 39.6021
Epoch 30/30
3197/3197 [==============================] - 0s 40us/step - loss: 38.7975

In [33]:
#training a new model on the same data to show the effect of increasing model capacity

#create model
model_mc = Sequential()

#add model layers
model_mc.add(Dense(200, activation='relu', input_shape=(n_cols,)))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(200, activation='relu'))
model_mc.add(Dense(1))

#compile model using mse as a measure of model performance
model_mc.compile(optimizer='adam', loss='mean_squared_error')
#train model
model_mc.fit(train_X, train_y, epochs=30,)

Epoch 1/30
3197/3197 [==============================] - 1s 201us/step - loss: 57.3343
Epoch 2/30
3197/3197 [==============================] - 0s 106us/step - loss: 42.9654
Epoch 3/30
3197/3197 [==============================] - 0s 104us/step - loss: 42.5246
Epoch 4/30
3197/3197 [==============================] - 0s 102us/step - loss: 41.8445
Epoch 5/30
3197/3197 [==============================] - 0s 103us/step - loss: 41.4032
Epoch 6/30
3197/3197 [==============================] - 0s 103us/step - loss: 40.5544
Epoch 7/30
3197/3197 [==============================] - 0s 103us/step - loss: 40.7933
Epoch 8/30
3197/3197 [==============================] - 0s 102us/step - loss: 41.3199
Epoch 9/30
3197/3197 [==============================] - 0s 99us/step - loss: 40.7765
Epoch 10/30
3197/3197 [==============================] - 0s 99us/step - loss: 40.5041
Epoch 11/30
3197/3197 [==============================] - 0s 104us/step - loss: 40.1089
Epoch 12/30
3197/3197 [==============================] - 0s 106us/step - loss: 41.2349
Epoch 13/30
3197/3197 [==============================] - 0s 108us/step - loss: 40.1384
Epoch 14/30
3197/3197 [==============================] - 0s 106us/step - loss: 39.6602
Epoch 15/30
3197/3197 [==============================] - 0s 113us/step - loss: 40.0827
Epoch 16/30
3197/3197 [==============================] - 0s 116us/step - loss: 39.7184
Epoch 17/30
3197/3197 [==============================] - 0s 111us/step - loss: 39.9055
Epoch 18/30
3197/3197 [==============================] - 0s 106us/step - loss: 39.2955
Epoch 19/30
3197/3197 [==============================] - 0s 105us/step - loss: 39.8161
Epoch 20/30
3197/3197 [==============================] - 0s 108us/step - loss: 39.7285
Epoch 21/30
3197/3197 [==============================] - 0s 105us/step - loss: 39.8864
Epoch 22/30
3197/3197 [==============================] - 0s 105us/step - loss: 39.5675
Epoch 23/30
3197/3197 [==============================] - 0s 105us/step - loss: 39.3411
Epoch 24/30
3197/3197 [==============================] - 0s 109us/step - loss: 39.5947
Epoch 25/30
3197/3197 [==============================] - 0s 106us/step - loss: 39.3125
Epoch 26/30
3197/3197 [==============================] - 0s 107us/step - loss: 39.3492
Epoch 27/30
3197/3197 [==============================] - 0s 106us/step - loss: 39.5769
Epoch 28/30
3197/3197 [==============================] - 0s 106us/step - loss: 39.4470
Epoch 29/30
3197/3197 [==============================] - 0s 108us/step - loss: 39.6546
Epoch 30/30
3197/3197 [==============================] - 0s 110us/step - loss: 39.6780